@import "tailwindcss";

@theme inline {
  --color-primary: #0f4c81;
  --color-secondary: #277bf1;
  --color-background-light: #ffffff;
  --color-background-dark: #0f172a;
  --color-surface-light: #f8fafc;
  --color-surface-dark: #1e293b;

  --font-display: var(--font-jakarta), sans-serif;
  --font-body: var(--font-jakarta), sans-serif;

  --radius-lg: 1rem;
  --radius-xl: 1.5rem;
  --radius-2xl: 2rem;
}
